{%extends 'base.html'%}
{%block content%}<form method="POST" action="add" class="form">
    {% csrf_token %}
    <label class="mt-3">ID:</label>
    <div >{{form.eid}}</div>

    <label class="mt-3">Name:</label>
    <div>{{form.ename}}</div>

    <label class="mt-3">Email:</label>
    <div>{{form.eemail}}</div>

    <label class="mt-3">Contect:</label>
    <div>{{form.econtact}}</div>
    <div>
        <button class="btn btn-success mt-3" type="submit">Add</button>
    </div>
</form>
{% endblock %}